CMDLINE
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
autotools
bin
bin2012
config.h
config.hin
config.log
config.status
configure
lib
obj
rpm.spec
stamp-h
stamp-h.in
stamp-h1
tags

# Ignore build directories on linux
/build/
/build_schroot/
/build_ext/

# These are the default patterns globally ignored by Subversion:
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
.#*
.*.swp
.DS_store
/msvc2015/.vs
/nx-vc2017/.vs
/nx-vc2017/NX64
/nx-vc2017/*.user
*.ogg
sdl/lib/nintendoswitch/SDL.a
sdl/lib/nintendoswitch/SDLmain.a
nx-vc2017/res/voices.wad
nx-nonnda/nx-profile.cpp
